<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1>Nova Idea</h1>
      <%= render 'form', idea: @idea %>
      <%= link_to 'Voltar', ideas_path %>
    </div>
  </div>
</div>